.bar {
  display: flex;
  align-items: center;
  width: 80%;
}

.bar input {
  height: 1.5rem;
  width: 6rem;
  text-align: center;
  margin-left: 1rem;
  border: 2px solid dimgray;
  border-radius: 15px;
  font-weight: bold;
}

.bar select {
  height: 1.8rem;
  width: 10rem;
  text-align: center;
  margin-left: 0.25rem;
  border: 2px solid dimgray;
  border-radius: 15px;
  font-weight: bold;
}

.bar label {
  font-weight: bold;
  margin-left: 1rem;
  text-decoration: underline;
}
