.form {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  border: 1px solid black;
  margin: 1rem;
  padding: 1.5rem;
}

.form input {
  margin: 0.5rem auto;
  width: 100%;
}

.form textarea {
  margin: 0.5rem auto;
  width: 100%;
  resize: vertical;
  height: 4rem;
  max-height: 20rem;
}

.form button {
  border-radius: 15px;
  border: 1px solid black;
  font-weight: bold;
  color: white;
  background-color: dodgerblue;
  padding: 0.4rem;
  margin: 0.5rem;
  min-width: 3rem;
}

.form button:hover {
  background-color: rgb(0, 85, 170);
}
