.note {
  border-radius: 15px;
  border: 3px solid black;
  margin: 1rem;
  background-color: rgb(241, 240, 240);
  -moz-box-shadow: 0 0 5px #999;
  -webkit-box-shadow: 0 0 5px #999;
  box-shadow: 0 0 5px #999;
}

.note h1 {
  margin: 1rem;
}

.note section,
.dates {
  display: flex;
  justify-content: space-between;
}

.note span {
  font-size: small;
  font-weight: bold;
  align-self: flex-start;
  margin-left: 1rem;
  margin-bottom: 1rem;
  color: gray;
}

.note p {
  margin: 1rem;
  border: 0.1px solid black;
  border-radius: 15px;
  height: 5rem;
  padding: 0.75rem 0.75rem;
  word-wrap: break-word;
  overflow-y: scroll;
}

.buttons {
  display: flex;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.buttons button {
  margin-left: 0.5rem;
  border: 0.1px solid;
  border-radius: 10px;
  background-color: transparent;
  height: 1.5rem;
}

.buttons button:hover,
.buttons button:active {
  background-color: white;
}
