.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container label {
  font-weight: bold;
  font-size: large;
  margin-bottom: 0.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 0.25rem;
}

.field label {
  margin-right: 0.5rem;
  font-size: medium;
}

.checkbox {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

.expiration input {
  margin-right: 0.25rem;
}

.expiration label {
  font-size: small;
}

.permissions {
  height: 1.5rem;
}

.url {
  width: 40%;
  height: 1.5rem;
}

.urlSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 0.25rem;
}
