.newNote {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  border: 2px solid black;
  margin: 1rem;
  padding: 0.5rem;
  padding-top: 1rem;
  width: 70%;
  background-color: rgb(241, 240, 240);
}

.newNote input {
  margin: 0.5rem auto;
  height: 1.5rem;
  width: 90%;
  border: 1px solid black;
  background-color: rgb(241, 240, 240);
  border-radius: 5px;
}

.newNote textarea {
  margin: 0.5rem auto;
  width: 90%;
  resize: vertical;
  height: 8rem;
  max-height: 20rem;
  border: 1px solid black;
  background-color: rgb(241, 240, 240);
  border-radius: 5px;
}

.buttons {
  margin-left: auto;
  margin-right: 0;
}
