.new {
  padding: 0 0.6rem;
  border-radius: 25px;
  border: 1px solid transparent;
  font-size: 2rem;
  font-family: monospace;
  font-weight: bold;
  position: absolute;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  color: white;
}

.new:hover {
  color: black;
}
